.history-container{
  display: flex;
  flex-direction: column;
}

.briefHistory {
 /* display: flex; */
 align-items: center;
 padding: 2%
}

.briefHistory img {
  margin: 0 2% 1% 0;
}

.heroes-container {
  display: flex;

}

.img-card {
  width: 20vw;
  margin: 2%;
}

.img-card img {
  height: 20vw;
  width: 20vw;
  border: 5px solid white;
}

@media (max-width:768px) {
  .heroes-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .img-card {
  width: 50vw;
  border-bottom: 1px solid #E2BB09;
}

.img-card img {
  height: 50vw;
  width: 50vw;
}
  
}
@media (max-width: 1300px) {
  
  .img-card {
  width: 20vw;
}

.img-card img {
  height: 20vw;
  width: 20vw;
}
  
}